@using MyFitScope.Web.ViewModels.ProgressImages
@model ProgressImagesListingViewModel
@{
    this.ViewData["Title"] = "User Statistics";
    this.Layout = "_LoggedInLayout";
}

<div>
    <p1>Upload Image</p1>
    <form method="post" class="form-group" asp-controller="ProgressImages" asp-action="AddProgressImage" enctype="multipart/form-data">
        <div class="form-group">
            <label for="ProgressImageInputForm" class="upload-btn">
                <i class="fa fa-upload"></i> Upload
                <input id="ProgressImageInputForm" type="file" name="ProgressImage" class="form-control" />
            </label>
            <div class="margin-top-0"></div>
            <span id="file-selected"></span>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<hr />

<h1>Your images are here</h1>

<hr />

<div class="container">
    <!-- Trigger the Modal -->
    <img id="myImg" src="@Model.Images[0].Url" alt="Snow" style="width:100%;max-width:300px">

    <!-- The Modal -->
    <div id="myModal" class="modal">

        <!-- The Close Button -->
        <span class="close">&times;</span>

        <!-- Modal Content (The Image) -->
        <img class="modal-content" id="img01">

        <!-- Modal Caption (Image Text) -->
        <div id="caption"></div>
    </div>
</div>

@section Scripts {
    <script>
        // Get the modal
    var modal = document.getElementById("myModal");

    // Get the image and insert it inside the modal - use its "alt" text as a caption
    var img = document.getElementById("myImg");
    var modalImg = document.getElementById("img01");
    var captionText = document.getElementById("caption");
    img.onclick = function(){
      modal.style.display = "block";
      modalImg.src = this.src;
      captionText.innerHTML = this.alt;
    }

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
      modal.style.display = "none";
    }
    </script>
}
