@using MyFitScope.Web.ViewModels.Exercises
@model DetailsExerciseViewModel

@{
    this.ViewData["Title"] = "Exercise Details";
}

<section class="py-3">
    <div class="container">
        <h1 style="margin: 2%; text-align: center;">@Model.Name</h1>

        <hr />

        <div>
            <div class="text-center py-3">
                <iframe id="ytplayer" type="text/html" width="640" height="360"
                        src="@Model.EmbededVideoUrl"
                        frameborder="0">
                </iframe>
            </div>
            <hr />
            <div class="">
                <p><span class="font-weight-bold">Targeted Muscle Group:</span> @Model.MuscleGroupTitle</p>
                <p><span class="font-weight-bold">Exercise Description:</span> @Model.Description</p>
            </div>
            <div class="text-center">
                <div class="button-holder">
                    <a href="#" class="btn btn-primary text-uppercase">Edit</a>
                    <a href="#" class="btn btn-danger text-uppercase">Delete</a>
                </div>
            </div>
        </div>
    </div>
</section>
