@using MyFitScope.Web.ViewModels.BlogMenuArticlesCategories
@model ArticlesCategoriesMenuViewModel

@foreach (var category in Model.Categories)
{
    <li class="nav-item">
        <a class="nav-link text-dark" href="/Articles/ArticlesByCategory?articleCategory=@category.CategoryType">@category.CategoryTitle</a>
    </li>
}

