@using MyFitScope.Data.Models.FitnessModels.Enums
@using MyFitScope.Web.ViewModels.Workouts
@model CreateWorkoutInputModel

@{ 
    this.Layout = "_LoggedInLayout";
    this.ViewData["Title"] = "Create Workout";
}


    <section class="container col-md-9">
        <script src="/lib/tinymce/tinymce.min.js" type="text/javascript"></script>
        <script type="text/javascript">
            tinymce.init({
                selector: "textarea",
                plugins: [
                    "image paste table link code media"
                ]
            });
        </script>

        <h2 class="mb-0 p-3 text-center text-white bg-dark r-top-corners">Create your own Workout</h2>
        <form method="post" class="form-group bg-light p-4 mt-0 r-bottom-corners" asp-controller="Workouts" asp-action="AddWorkout">
            <div class="form-group">
                <label asp-for="Name">Workout name:</label>
                <input type="text" asp-for="Name" class="form-control" placeholder="Enter workout name..." />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Difficulty">Choose workout difficulty:</label>
                <select asp-for="Difficulty" asp-items="@Html.GetEnumSelectList<Difficulty>()" class="form-control"></select>
            </div>
            <div class="form-group">
                <label asp-for="WorkoutType">Choose workout category:</label>
                <select asp-for="WorkoutType" asp-items="@Html.GetEnumSelectList<WorkoutType>()" class="form-control"></select>
            </div>
            <div class="form-group">
                <label asp-for="Description"></label>
                <textarea asp-for="Description" class="form-control" placeholder="Enter workout name..."></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Create Workout</button>
            </div>           
        </form>
    </section>
