@using MyFitScope.Common
@{
    this.Layout = "_Layout";
}

<div class="container">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8">

            @this.RenderBody()

        </div>
        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

            <!-- Search Widget -->
            <div class="card my-4">
                <h5 class="card-header bg-dark text-white">Search</h5>
                <div class="card-body">
                    <form method="get" asp-area="Blog" asp-controller="Articles" asp-action="Search">
                        <div class="input-group form-group">
                            <input type="text" class="form-control" name="keyWord" placeholder="Search for...">
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-secondary">Go!</button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>

            <!-- Categories Widget -->
            <div class="card my-4">
                <h5 class="card-header text-white bg-dark">Categories</h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <vc:dropdown-links url="/Blog/Articles/ArticlesListing?articleCategory=" enum-name=@GlobalConstants.ArticleCategoryTypeName></vc:dropdown-links>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Most Commented Articles Widget -->
            <div class="card my-4">
                <h5 class="card-header text-white bg-dark">Most Commented Articles</h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <vc:most-commented-articles></vc:most-commented-articles>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@this.RenderSection("Scripts", required: false)