@using MyFitScope.Data.Models
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@{
    this.Layout = "_Layout";
}


<div class="container">
    <div class="row">
        <!-- Sidebar -->
        <div class="col-md-3">
            <div class="card" style="width: 247px;">
                @{
                    var loggedInUser = await UserManager.GetUserAsync(User);
                }

                @if (loggedInUser.AvatarImageUrl != null)
                {
                    <img src="@loggedInUser.AvatarImageUrl" class="card-img-top" alt="Card image cap">
                }
                else
                {
                    <img src="https://capenetworks.com/static/images/testimonials/user-icon.svg" class="card-img-top" alt="default user photo" />
                }
                <div class="card-body bg-dark">
                    <button class="btn btn-info btn-sm btn-block" onclick="ToggleAddWorkoutDayInputForm('#uploadAvatarPhotoForm')">Change Photo</button>
                </div>
                <div id="uploadAvatarPhotoForm" class="card-body">
                    <form method="post" asp-controller="Users" asp-action="AddAvatarPhoto" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="avatarInputForm" class="upload-btn">
                                <i class="fa fa-upload"></i> Upload
                                <input id="avatarInputForm" type="file" name="Photo" class="form-control bg-dark text-white" />
                            </label>
                            <div class="margin-top-0"></div>
                            <span id="file-selected"></span>
                        </div>
                        <button type="submit" class="btn btn-primary">Send</button>
                    </form>
                </div>
            </div>
            <div class="mb-3">
                <ul class="nav nav-pills flex-column">
                    <li class="nav-item bg-dark"><a class="nav-link text-white manage-nav-links" asp-controller="Workouts" asp-action="CurrentWorkout"><i class="fa fa-fw fa-dumbbell mr-1"></i> Current Workout</a></li>
                    <li class="nav-item bg-dark"><a class="nav-link text-white manage-nav-links" asp-controller="Progresses" asp-action="Statistics"><i class="fas fa-tasks mr-1"></i> Progress Statistics</a></li>
                    <li class="nav-item bg-dark"><a class="nav-link text-white manage-nav-links" asp-controller="ProgressImages" asp-action="ProgressImagesListing"><i class="fas fa-camera mr-1"></i> Progress Images</a></li>
                    <li class="nav-item bg-dark"><a class="nav-link text-white manage-nav-links" asp-controller="Exercises" asp-action="CreateExercise"><i class="fas fa-tools mr-1"></i> Create Exercise</a></li>
                    <li class="nav-item bg-dark"><a class="nav-link text-white manage-nav-links" asp-controller="Workouts" asp-action="AddWorkout"><i class="fas fa-tools mr-1"></i> Create Workout</a></li>
                </ul>
            </div>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div class="col-md-9">
            @this.RenderBody()
        </div>
        <!-- /#page-content-wrapper -->

    </div>
</div>

@this.RenderSection("Scripts", required: false)
@section Scripts{
    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>
}
