@using MyFitScope.Web.ViewModels.NavBarDropdownLinks
@model DropdownLinksViewModel

@foreach (var category in Model.Categories)
{
    <li class="nav-item">
        <a class="nav-link text-dark" href="@category.FullUrl">@category.CategoryTitle</a>
    </li>
}