@using MyFitScope.Web.ViewModels.Articles
@model AllArticlesViewModel

@{
    this.ViewData["Title"] = "All Articles";
}

@foreach (var article in Model.Articles)
{
    <div class="media">
        <div class="media-body">
            <h5 class="mt-0 mb-1"><a href="Details?articleId=@article.Id">@article.Title</a></h5>
            @article.Content
        </div>
        <img src="@article.ImageUrl" width="200" class="ml-3" alt="@article.Title">
    </div>
}