@using MyFitScope.Web.ViewModels.Articles
@model DetailsArticleViewModel

@{
    this.ViewData["Title"] = Model.Title + " Details";
}

<img src=@Model.ImageUrl alt=@Model.Title />

<hr />

<h1>@Model.Title</h1>
<p>@Model.Content</p>
<p>Writen from: @Model.UserUserName</p>


<form>
    <div class="form-group">
        <label for="commentInput">Add your Comment:</label>
        <input type="text" class="form-control" id="commentInput" aria-describedby="commentHelp">
    </div>
    <button type="submit" class="btn btn-primary">Comment</button>
</form>