@using MyFitScope.Web.ViewModels.Administration.Administration
@model AllRolesViewModel

@{ 
    this.ViewData["Title"] = "All Roles";
}

<section class="container bg-white p-3 rcorners">
    <article>
        <header class="text-center">
            <h1>All Roles:</h1>
            <hr/>
        </header>
        <div class="row justify-content-center">
            @foreach (var role in Model.Roles)
            {
                <div class="card col-md-3 m-3 pl-0 pr-0 border-dark">
                    <h5 class="card-header bg-dark text-white">@role.Name</h5>
                    <div class="card-body text-center">
                        <a asp-area="Administration" asp-controller="Administration" asp-action="EditUsersInRole" asp-route-roleId="@role.Id" class="btn btn-primary btn-sm">Add / Remove User</a>
                    </div>
                </div>
            }
        </div>
    </article>       
</section>
