@{ 
    this.Layout = "_LoggedInLayout";
}

<section class="bg-white rcorners p-5 home-loggedIn-page">
    <article id="homeLoggedInPageContent" class="p-4 text-white">
        <header class="mt-lg-3">
            <h1 class="text-center mt-lg-3 mb-4">
                Welcome to
                MyFitScope
            </h1>
        </header>
        <p class="indent-text">
            It’s not just about how you look; it’s about how you feel, how you think and how you function.
            Inspired Fitness offers complete support for maintaining a healthy lifestyle, from the intuitive workout equipment to our dedicated personal trainer, every aspect of our health and fitness studio will inspire and enhance your performance.

            The tools you need to challenge yourself and reach your physical and mental potential are right here waiting.

            Get ready to pick up the pace…
        </p>
        <p class="indent-text"><i class="fas fa-chevron-circle-right mr-2"></i> Use the right sidebar menu to create your Workout Plan, to build your own Exercises, or to track your Progress</p>
        <p class="indent-text"><i class="fas fa-chevron-circle-right mr-2"></i> Use the top navbar menu to browse our rich collection of Workouts and Exercises and feel free to choose from them!</p>
        <p class="indent-text"><i class="fas fa-chevron-circle-right mr-2"></i> Visit our Blog section, where you can find a lot articles about workouts, healty food or training equipment.</p>
        <p class="text-center">And of course --> STAY FIT!!!</p>
    </article>  
</section>
